.disable-scroll {
  overflow: hidden;
}

// align content left for box model layouts
.layout--left {
  float: left;
}

// align content left for box model layouts
.layout--right {
  float: right;
}

// force position relative, used to constrain absolute children
.layout--relative {
  position: relative;
}

.layout--block {
  display: block;
}

// clearfix class, % defined in extends
.cf {
  @extend %clearfix;
}

.app {
  background-color: black;
  height: 100vh;
}

.pagecontent {
  background: white;
  width: 37.5rem;
  height: 67.7rem;
  margin: 5vh auto;
  border-radius: 2rem;
  display: flex;
}

.pageheader {
  @include font(bold);
  text-align: center;
  margin-top: 2rem;
}

.skill-card {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F8;
  margin-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: darken(#F8F8F8, 5);
  }

  &.selected {
    @include font(bold);
    background-color: #FFAB4C;
    color: $white;
  }
}
