.btn {
  @include font(bold);
  @include font-size(b1);
  height: 5rem;
  background-color: blue;
  color: $white;
  display: inline-flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;

  &:hover {
    color: $white;
  }
}

.btn--yellow {
  background-color: #EDBA2C;

  &:hover {
    background-color: lighten(#EDBA2C, 5);
  }
}

.btn--fullwidth {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
}

.btn--absolute {
  position: absolute;
  bottom: 64px;
  width: calc(100% - 5rem);
}
