// primary color
$primary: #FF626F;

// ancillary colors
$dark: #001928;
$white: #FFFFFF;
$black: #000000;
$offwhite: #FBFBFB;

// pastels
$beige: #ECD4BC;
$babyblue: #D8F3F9;
$grey: #EDEEF0;
$greyblue: #94A8B0;
